{% extends "layout.html" %}

{% block body %}
    <div class="main_div">
        <noscript>
            <h1>Warning: Javascript is not working on your browser</h1>
            <p>The study will not work unless Javascript is enabled on your browser.</p>
            <p>Please enable Javascript then refresh this page.<p>
        </noscript>
        <h1>We need your consent to proceed</h1>
        <hr>
        <div class="consent_div text-justify"><small>
            {% block consent_text %}
            <p><b>Title</b>: Exploring human representations of facial affect.<br><b>Investigators</b>: Haijiang Yan, Adam Sanborn, Nick Chater. </p>

            <p>Welcome and thank you for participating! This research study is on identifying human's category representations for facial affect. You will be asked to make a series of decisions, in each one you will see two faces with specific emotion on the screen and you need to pick one of them (“left” or “right”) according to your response to the question asked above the image (e.g., “Who is happier?” or “Who is sadder?”).</p>

            <p>We are conducting this research as part of my PhD research.</p>

            <p>No identifiable data will be collected from you as part of this study. This means that once your responses have been submitted to the research team, it will not be possible to withdraw this data as your individual responses cannot be identified.</p>

            <p>Data will be securely stored on University of Warwick servers (on an access-restricted drive shared by investigators listed above) and will be processed only for the purpose of scientific analysis.  Access to the data will be restricted to the investigators listed above. Summaries may be presented at conferences and included in scientific publications. Data will be reviewed on completion of the research, in line with the University of Warwick data retention policy. After review, anonymised data will eventually be made openly accessible for future scientific analysis carried out by us or other researchers.</p>

            <p>Please refer to the University of Warwick Research Privacy Notice which is available here: https://warwick.ac.uk/services/idc/dataprotection/privacynotices/researchprivacynotice or by contacting the Information and Data Compliance Team at GDPR@warwick.ac.uk. </p>

            <p>This study has been reviewed and approved by the Department of Psychology Research Ethics Committee at the University of Warwick. If you require further information, please contact Haijiang Yan (haijiang.yan@warwick.ac.uk) or the supervisor Professor Adam Sanborn (a.n.sanborn@warwick.ac.uk).</p>

            <p>Any complaint should be addressed to the person below, who is a senior University of Warwick official entirely independent of this study:
                <br><b>Head of Research Governance</b>
                <br>Research & Impact Services	
                <br>University House, University of Warwick
                <br>Coventry
                <br>CV4 8UW
                <br>Email: researchgovernance@warwick.ac.uk 
                <br>Tel: 024 765 75733
            </p>

            <p>If you wish to raise a complaint on how we have handled your personal data, you can contact our Data Protection Officer who will investigate the matter: DPO@warwick.ac.uk.</p>

            <p>If you are not satisfied with our response or believe we are processing your personal data in a way that is not lawful you can complain to the Information Commissioner's Office (ICO).</p>

            <p>Thank you for taking the time to read this concise Participant Information Leaflet. </p>
            {% endblock consent_text %}
            <hr>
            <h4><b>Consent form</b>: I have read the above and
                </h4>
            <br>
            {% block consent_button %}
            <button type="button" class="btn btn-primary btn-lg" id="consent" style="float: left;">I consent to participate
            </button>
            {% endblock consent_button %}
            {% block reject_button %}
            <button type="button" class="btn btn-danger btn-lg" onClick="self.close();" style="float: right;">I do not consent (exit task)
            </button>
            {% endblock reject_button %}
        </div>
    </div>
{% endblock %}


{% block scripts %}
<script>
    function openwindow(event) {
        dallinger.get('/busy')
            .done(function(resp) {
                if(resp.result===0){
                    window.location='/instructions/instruct-ready?{{query_string | safe}}';  
                } else if(resp.result===1){
                    window.location='working?{{query_string | safe}}'; 
                } //else {
                //     dallinger.post('/worker_complete', {'participant_id': resp.result});
                //     window.location='/instructions/instruct-ready?{{query_string | safe}}';
                // }
            })
            .fail(function (rejection) {
                    dallinger.error(rejection);
                })

        event.target.setAttribute("disabled", "");
    }

    document.getElementById("consent").onclick = openwindow;
</script>
{% endblock %}


