{% extends "layout.html" %}

{% block body %}
    <div class="main_div">
        <h1>Instructions</h1>

        <hr>

        <p>In this experiment, you will be presented with pairs of face images with specific emotion. You need to pick one of them ("left" or "right"), according to your response to the question asked above the images ("Who is happier?" or "Who is sadder?"). The averaged completeion time is 1 hour. You should complete this within <b>2 hours and 20 minutes</b> maximum once begin. <br>
            <br>Note: images' display may be delayed due to network quality, please don't press the button until images show up.</p>

        <hr>

        <div>
            <div class="row">
                <div class="col-xs-10"></div>
                <div class="col-xs-2">
                    <button type="button" id="begin" class="btn btn-success btn-lg" onClick="dallinger.goToPage('experiment');">
                    Begin</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        dallinger.createParticipant();
    </script>
{% endblock %}
